{
    "file_line":200,
    "func_line":50,
    "params_num":4,
    "results_num":3,
    "formated": true,
    "pkg_name": true,
    "camel_name": true,
    "ignore":[
        "tmp/*",
        "src/tmp.go"
    ],
    "fatal":[
        "formated"
    ]
}
